.l-wrap{
    max-width: 640px;
    margin: 0 auto;
}
.l-hot{
    display: flex;
    margin-bottom: 24px;
}
.l-hotList{
    margin-right: 20px;
}
.l-hotList__item{
    display: flex;
    margin-bottom: 24px;
}
.l-hotList__img{
    margin-right: 20px;
}
.l-hotList__item:last-child{
    margin-bottom: 0;
}
.c-img{
    display: block;
}
.c-img--small{
    width: 96px;
    height: 96px;
}
.c-img--big{
    width: 216px;
    height: 216px;
}
.l-hotList__text span{
    font-size:20px;
    line-height:1.2;
}
.l-hotList__text p{
    font-size:16px;
    line-height:1.5;
}
.l-footer{
    padding: 48px 0;
    text-align: center;
}
.l-footer__text{
    font-size:16px;
    line-height:1.5;
}